body { display: grid;
       grid-template-columns: 120px 120px 120px;
       grid-template-areas:
             "h h h"
             "a a a"
             "b b c"
             "f f f";
     grid-template-columns: auto 1fr 20%; }

  div.header  {grid-area: h; min-width: 12em; }
  ul.breadcrumb  {grid-area: a; min-width: 12em; }
  article {grid-area: b; min-width: 12em; }
  aside   {grid-area: c; min-width: 12em; }
  div.footer  {grid-area: f; min-width: 12em; }

.header {
  padding-left: 10.5REM;
  padding-top: 1.5REM;
  text-indent: 0;
  background: #318aa4;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

p.sub-header{
  padding-bottom: 3.5REM;
  margin-bottom: 0;
  font-style: italic;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  background: #318aa4;
}

ul.breadcrumb {
  background-color:  #e0e0d1;
  padding: 1.5REM;
  margin-top: 0;
  text-indent: 8.5REM;
}

ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}

ul.breadcrumb li+li:before {
  padding: 6px;
  color: black;
  content: "/\00a0";
  font-weight: bold;
}

ul.breadcrumb li a {
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 16px;
}

ul.breadcrumb li a:hover{
  background-color: white;
  padding: 1.5REM;
}


h4  {
  text-indent: 8.5REM;
}

aside {
  float: right;
  font-family: sans-serif;
}

h3{
  font-size: 2REM;
  font-family: sans-serif;
}

p {
  color: #484848;
  width: 95%;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}

figcaption{
  width: 18REM;
}

a {
  color: #1aa3ff;
  text-decoration: none;
}

img.footer-img{
  width: 100%;
}

.footer{
position: relative;
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-size: 22px;
color: white;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quotes{
  quotes: "" ">>";
}

img.bottom{
  width: 100%;
}

.aqua-quote {
  color: #318aa4;
}

article {
  text-align:center;
}
